p{
 color: #00ffff;
 font-size: 50px;
 font-family: 'Quicksand', sans-serif;
}
p1{
 color: #ffffff;
 background-color: red;
 font-family: 'Quicksand', sans-serif;
 font-size: 40px;
}
p2{
 font-family: 'Kiwi Maru', serif;
 font-size: 30px
}